*{
  font-family: "P052";
}

body{
	background-color: #252525;
}

h1{
	color: white;
	font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
  color: #AAAAAA;
}

.button {
  display:  inline-block;
	padding:  20px;
	font-size: 1.5em;
	font-weight: bold;
	color: white;
	border: solid 3px white;
	border-radius: 15px;
	text-decoration: none;
	margin-bottom: 0.7em;
	cursor: pointer;
	width: 8em;
}

.avanzar_button {
  background-color: #0B0B61;
}

.detener_button {
  background-color: #8A0808;
}

.entrenar_button {
  background-color: #0B610B;
}

.finalizar_button {
  background-color: #8A0808;
}

.zoom_button {
  transition: transform .2s;
}

.zoom_button:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.1); 
}

.hidden {
  display: none;
}

.estado {
  margin-top: 500px;
}

.deshabilitado{
	background-color: #252525;
	border-color: gray;
	cursor: default;
}

.bloque_derecha{
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 50%;
	float:  right;
	box-sizing: border-box;
	margin-top: 10%;
}

.bloque_derecha_inferior{
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 50%;
	float:  left;
	box-sizing: border-box;
	margin-top: 10%;
	margin-left: 15%;
}

.bloque_izquierda{
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 50%;
	box-sizing: border-box;
}

.tablaq_title{
	text-align: center;
	color: white;
  margin-left: 17%;
}

.tabla{
  --table_size: 450px;
  margin-left: 25%;
  width: var(--table_size);
  height: var(--table_size);
}

.botones {
  margin-top: 45px;
}

.box{
  position: relative;
  width: 33.3%;
  height: 33.3%;
  float: left;
}

.box .box_style{
  --border_size: calc(var(--table_size)/6);
  width: 0;
  height: 0;
  box-sizing: border-box;
  border: var(--border_size) solid;
  border-left-color: #262626;
  border-right-color: #363636;
  border-top-color: #464646;
  border-bottom-color: #565656;
  outline: solid #BBBBBB 1px;
}

.crossed {
  margin-top: calc(var(--table_size)/-3);
  width: calc(var(--table_size)/3);
  height: calc(var(--table_size)/3);
  background:
    linear-gradient(to top left,
    rgba(192,192,192,0) 0%,
    rgba(192,192,192,0) calc(50% - 1px),
    rgba(192,192,192,1) 50%,
    rgba(192,192,192,0) calc(50% + 1px),
    rgba(192,192,192,0) 100%),
    linear-gradient(to top right,
    rgba(192,192,192,0) 0%,
    rgba(192,192,192,0) calc(50% - 1px),
    rgba(192,192,192,1) 50%,
    rgba(192,192,192,0) calc(50% + 1px),
    rgba(192,192,192,0) 100%);
}

.box .numero{
  --line_height: calc(var(--table_size)/15);
  --font_size: calc(var(--table_size)/24);
  color: white;
  position: absolute;
  width: 20%;
  height: 20%;
  line-height: var(--line_height);
  font-size: var(--font_size);
  text-align: center;
}

.box .arriba{
  top: 15%;
  left: 40%;
}

.box .izquierda{
  bottom: 15%;
  left: 40%;
}

.box .derecha{
  left: 15%;
  top: 40%;
}

.box .abajo{
  right: 15%;
  top: 40%;
}
