p {
    color: red;
  
  }
  .centro {
    background: #3f3e3e;
  }
   

  
  .matriz{
      top: 150px; 
      left: 150px;
      position: relative;
      
  }

  .botonAprender{
    position: absolute;
    left: 700px;
    top: 250px;
  }
  .botonCaminar{
    position: absolute;
    left: 700px;
    top: 320px;
  }

  .botonExcel{
    position: absolute;
    left: 700px;
    top: 390px;
  }

  .caja_padre1{
    
    position: absolute;
    background-image: url("cuadrado.redimensionado.jpg");
    width: 180px;
    height: 180px;
  }
  .caja_padre2{
    
    position: absolute;
    left: 180px;
    background-image: url("cuadrado.redimensionado.jpg");
    width: 180px;
    height: 180px;
  }
  .caja_padre3{
    
    position: absolute;
    left: 360px;
    background-image: url("cuadrado.redimensionado.jpg");
    width: 180px;
    height: 180px;
  }
  .caja_padre4{
    
    position: absolute;
    left: 0px;
    top: 180px;
    background-image: url("cuadrado.redimensionado.jpg");
    width: 180px;
    height: 180px;
  }
  .caja_padre5{
    
    position: absolute;
    left: 180px;
    top: 180px;
    background-image: url("cuadrado.redimensionado.jpg");
    width: 180px;
    height: 180px;
  }
  .caja_padre6{
    
    position: absolute;
    left: 360px;
    top: 180px;
    background-image: url("cuadrado.redimensionado.jpg");
    width: 180px;
    height: 180px;
  }
  .caja_padre7{
    
    position: absolute;
    left: 0px;
    top: 360px;
    background-image: url("cuadrado.redimensionado.jpg");
    width: 180px;
    height: 180px;
  }
   .caja_padre8{
    
    position: absolute;
    left: 180px;
    top: 360px;
    background-image: url("cuadrado.redimensionado.jpg");
    width: 180px;
    height: 180px;
  }
  .caja_padre9{
    
    position: absolute;
    left: 360px;
    top: 360px;
    background-image: url("cuadrado.redimensionado.jpg");
    width: 180px;
    height: 180px;
  }


  .caja1-left{
    position: absolute;
    top:75px;
    left: 10px;

  }
  .caja1-up{
    position: absolute;
    left: 60px;
    top: 20px;

  }
  .caja1-down{
    position: absolute;
    top: 130px;
    left: 60px;

  }
  .caja1-right{
    position: absolute;
    left: 110px;
    top:75px;

  }



  .titulo{
        float: left;
        margin-left: 700px;
        list-style:none; 
        padding: 20px;
  }
  nav{
      background-color: rgb(122, 122, 122);
  }
  
img{
    width: 100px;
    height: 100px;
}  