*{
  font-family: "P052";
  margin: 0;
  padding: 0;
}

html,body{
  height: 100%; 
}

body{
  --header_height: 100px;
	background-color: #252525;
}
@media (max-width: 1000px){
  body{
    --header_height: 60px;
  }
}

h1{
  color: white;
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
  color: #AAAAAA;
}

.main_div{
  height: calc(100% - var(--header_height));
  width: 90%;
  margin-left: 5%;
  padding: 5%;
  box-sizing: border-box;
}

.bloque_izquierda{
  display: inline-block;
  width: 50%;
  height: 100%;
  box-sizing: border-box;

  float: left;
}
.bloque_derecha{
  display: inline-block;
  width: 50%;
  height: 100%;
  box-sizing: border-box;

  float:  right;
}

@media (max-width: 1000px){
  .bloque_izquierda{
    display: block;
    width: 100%;
    height: auto;
  }
  .bloque_derecha{
    display: block;
    width: 100%;
    height: auto;
  }
}

.bloque_derecha_inferior{
  display: block;
  width: 100%;
  text-align: center;
}

.letra-blanca{
	margin-top: 10%;
	color: white;
}



