<!DOCTYPE html>
<html>
<head>
	<title>Servidor Crawler</title>
	<link rel= "stylesheet" type= "text/css" href="{{url_for('static',filename='style.css') }}">
	
	<link rel= "stylesheet" type= "text/css" href="{{url_for('static',filename='/css/bootstrap.css') }}">
	<script src="js/bootstrap.min.js"></script>
	
</head>


<body class="centro">
		<header> 
			
				<nav>
					<div>
						<img src="static/foto.png" alt="">
						<h1 class="titulo">Crawler Robot</h1>
					</div>
				</nav>
			</header>

					
	{% block body %}
	{% endblock %}
		
	
</body>
</html>


